In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
#importlibraries
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import joblib
import cv2
import os

In [4]:
PROJECT_DIR = "/content/drive/MyDrive/CDC_Project"
TEST_CSV = f"{PROJECT_DIR}/test2.csv"
TEST_IMAGE_DIR = f"{PROJECT_DIR}/images_test"

Loading saved assets

In [13]:
multi_model = keras.models.load_model(f"{PROJECT_DIR}/final_model_multimodal.keras")
rf = joblib.load(f"{PROJECT_DIR}/final_model_rf.joblib")
scaler = joblib.load(f"{PROJECT_DIR}/final_scaler.joblib")

In [14]:
test_df = pd.read_csv(TEST_CSV)
print(test_df.shape)
test_df.head()

(5404, 20)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

In [18]:
tabular_features = [
    "bedrooms", "bathrooms", "sqft_living", "sqft_lot", "floors", "waterfront", "view", "condition", "grade", "sqft_above", "sqft_basement", "yr_built", "yr_renovated", "lat", "long", "sqft_living15", "sqft_lot15"
]

In [19]:
X_tab = scaler.transform(test_df[tabular_features])

In [24]:
from tensorflow.keras.preprocessing.image import load_img, img_to_array

def load_satellite(path):
    img = load_img(path, target_size=(224, 224))
    img = img_to_array(img) / 255.0
    return img

In [25]:
def build_path(row):
    return os.path.join(TEST_IMAGE_DIR, f"{row['id']}")

test_df["image_path"] = test_df.apply(build_path, axis=1)

X_img = []

for i, p in enumerate(test_df["image_path"]):
    if i % 100 == 0:
        print("Loaded:", i)
    X_img.append(load_satellite(p))

X_img = np.array(X_img)

Loaded: 0
Loaded: 100
Loaded: 200
Loaded: 300
Loaded: 400
Loaded: 500
Loaded: 600
Loaded: 700
Loaded: 800
Loaded: 900
Loaded: 1000
Loaded: 1100
Loaded: 1200
Loaded: 1300
Loaded: 1400
Loaded: 1500
Loaded: 1600
Loaded: 1700
Loaded: 1800
Loaded: 1900
Loaded: 2000
Loaded: 2100
Loaded: 2200
Loaded: 2300
Loaded: 2400
Loaded: 2500
Loaded: 2600
Loaded: 2700
Loaded: 2800
Loaded: 2900
Loaded: 3000
Loaded: 3100
Loaded: 3200
Loaded: 3300
Loaded: 3400
Loaded: 3500
Loaded: 3600
Loaded: 3700
Loaded: 3800
Loaded: 3900
Loaded: 4000
Loaded: 4100
Loaded: 4200
Loaded: 4300
Loaded: 4400
Loaded: 4500
Loaded: 4600
Loaded: 4700
Loaded: 4800
Loaded: 4900
Loaded: 5000
Loaded: 5100
Loaded: 5200
Loaded: 5300
Loaded: 5400

Now predicting the prices

In [27]:
#prediction of prices
batch_size = 32
preds_list = []

for i in range(0, len(test_df), batch_size):

    batch_df   = test_df.iloc[i:i+batch_size]

    # ---- IMAGES ----
    batch_paths = batch_df["image_path"].values
    batch_imgs  = []

    for path in batch_paths:
        img = tf.keras.utils.load_img(path, target_size=(128, 128))   # IMPORTANT
        img = tf.keras.utils.img_to_array(img)
        img = img / 255.0                                            # same as training
        batch_imgs.append(img)

    batch_imgs = np.array(batch_imgs)

    # ---- TABULAR ----
    batch_tab = batch_df[tabular_features].values   # same columns as training

    print(f"Predicting rows {i} → {i+len(batch_imgs)}")

    batch_preds = multi_model.predict(
        [batch_imgs, batch_tab],
        verbose=0
    )

    preds_list.append(batch_preds)

# ---- COMBINE ALL PREDICTIONS ----
final_preds = np.concatenate(preds_list, axis=0)

print(final_preds.shape)

Predicting rows 0 → 32
Predicting rows 32 → 64
Predicting rows 64 → 96
Predicting rows 96 → 128
Predicting rows 128 → 160
Predicting rows 160 → 192
Predicting rows 192 → 224
Predicting rows 224 → 256
Predicting rows 256 → 288
Predicting rows 288 → 320
Predicting rows 320 → 352
Predicting rows 352 → 384
Predicting rows 384 → 416
Predicting rows 416 → 448
Predicting rows 448 → 480
Predicting rows 480 → 512
Predicting rows 512 → 544
Predicting rows 544 → 576
Predicting rows 576 → 608
Predicting rows 608 → 640
Predicting rows 640 → 672
Predicting rows 672 → 704
Predicting rows 704 → 736
Predicting rows 736 → 768
Predicting rows 768 → 800
Predicting rows 800 → 832
Predicting rows 832 → 864
Predicting rows 864 → 896
Predicting rows 896 → 928
Predicting rows 928 → 960
Predicting rows 960 → 992
Predicting rows 992 → 1024
Predicting rows 1024 → 1056
Predicting rows 1056 → 1088
Predicting rows 1088 → 1120
Predicting rows 1120 → 1152
Predicting rows 1152 → 1184
Predicting rows 1184 → 1216
Predicting rows 1216 → 1248
Predicting rows 1248 → 1280
Predicting rows 1280 → 1312
Predicting rows 1312 → 1344
Predicting rows 1344 → 1376
Predicting rows 1376 → 1408
Predicting rows 1408 → 1440
Predicting rows 1440 → 1472
Predicting rows 1472 → 1504
Predicting rows 1504 → 1536
Predicting rows 1536 → 1568
Predicting rows 1568 → 1600
Predicting rows 1600 → 1632
Predicting rows 1632 → 1664
Predicting rows 1664 → 1696
Predicting rows 1696 → 1728
Predicting rows 1728 → 1760
Predicting rows 1760 → 1792
Predicting rows 1792 → 1824
Predicting rows 1824 → 1856
Predicting rows 1856 → 1888
Predicting rows 1888 → 1920
Predicting rows 1920 → 1952
Predicting rows 1952 → 1984
Predicting rows 1984 → 2016
Predicting rows 2016 → 2048
Predicting rows 2048 → 2080
Predicting rows 2080 → 2112
Predicting rows 2112 → 2144
Predicting rows 2144 → 2176
Predicting rows 2176 → 2208
Predicting rows 2208 → 2240
Predicting rows 2240 → 2272
Predicting rows 2272 → 2304
Predicting rows 2304 → 2336
Predicting rows 2336 → 2368
Predicting rows 2368 → 2400
Predicting rows 2400 → 2432
Predicting rows 2432 → 2464
Predicting rows 2464 → 2496
Predicting rows 2496 → 2528
Predicting rows 2528 → 2560
Predicting rows 2560 → 2592
Predicting rows 2592 → 2624
Predicting rows 2624 → 2656
Predicting rows 2656 → 2688
Predicting rows 2688 → 2720
Predicting rows 2720 → 2752
Predicting rows 2752 → 2784
Predicting rows 2784 → 2816
Predicting rows 2816 → 2848
Predicting rows 2848 → 2880
Predicting rows 2880 → 2912
Predicting rows 2912 → 2944
Predicting rows 2944 → 2976
Predicting rows 2976 → 3008
Predicting rows 3008 → 3040
Predicting rows 3040 → 3072
Predicting rows 3072 → 3104
Predicting rows 3104 → 3136
Predicting rows 3136 → 3168
Predicting rows 3168 → 3200
Predicting rows 3200 → 3232
Predicting rows 3232 → 3264
Predicting rows 3264 → 3296
Predicting rows 3296 → 3328
Predicting rows 3328 → 3360
Predicting rows 3360 → 3392
Predicting rows 3392 → 3424
Predicting rows 3424 → 3456
Predicting rows 3456 → 3488
Predicting rows 3488 → 3520
Predicting rows 3520 → 3552
Predicting rows 3552 → 3584
Predicting rows 3584 → 3616
Predicting rows 3616 → 3648
Predicting rows 3648 → 3680
Predicting rows 3680 → 3712
Predicting rows 3712 → 3744
Predicting rows 3744 → 3776
Predicting rows 3776 → 3808
Predicting rows 3808 → 3840
Predicting rows 3840 → 3872
Predicting rows 3872 → 3904
Predicting rows 3904 → 3936
Predicting rows 3936 → 3968
Predicting rows 3968 → 4000
Predicting rows 4000 → 4032
Predicting rows 4032 → 4064
Predicting rows 4064 → 4096
Predicting rows 4096 → 4128
Predicting rows 4128 → 4160
Predicting rows 4160 → 4192
Predicting rows 4192 → 4224
Predicting rows 4224 → 4256
Predicting rows 4256 → 4288
Predicting rows 4288 → 4320
Predicting rows 4320 → 4352
Predicting rows 4352 → 4384
Predicting rows 4384 → 4416
Predicting rows 4416 → 4448
Predicting rows 4448 → 4480
Predicting rows 4480 → 4512
Predicting rows 4512 → 4544
Predicting rows 4544 → 4576
Predicting rows 4576 → 4608
Predicting rows 4608 → 4640
Predicting rows 4640 → 4672
Predicting rows 4672 → 4704
Predicting rows 4704 → 4736
Predicting rows 4736 → 4768
Predicting rows 4768 → 4800
Predicting rows 4800 → 4832
Predicting rows 4832 → 4864
Predicting rows 4864 → 4896
Predicting rows 4896 → 4928
Predicting rows 4928 → 4960
Predicting rows 4960 → 4992
Predicting rows 4992 → 5024
Predicting rows 5024 → 5056
Predicting rows 5056 → 5088
Predicting rows 5088 → 5120
Predicting rows 5120 → 5152
Predicting rows 5152 → 5184
Predicting rows 5184 → 5216
Predicting rows 5216 → 5248
Predicting rows 5248 → 5280
Predicting rows 5280 → 5312
Predicting rows 5312 → 5344
Predicting rows 5344 → 5376
Predicting rows 5376 → 5404
(5404, 1)

In [29]:
test_df["predicted_price"] = final_preds

In [30]:
test_df[["id", "predicted_price"]].to_csv(
    f"{PROJECT_DIR}/submission.csv",
    index=False
)

In [32]:
test_df.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,image_path,predicted_price
0,2591820310,20141006T000000,4,2.25,2070,8893,2.0,0,0,4,...,0,1986,0,98058,47.4388,-122.162,2390,7700,/content/drive/MyDrive/CDC_Project/images_test...,5.105481e+05
1,7974200820,20140821T000000,5,3.00,2900,6730,1.0,0,0,5,...,1070,1977,0,98115,47.6784,-122.285,2370,6283,/content/drive/MyDrive/CDC_Project/images_test...,7.231278e+05
2,7701450110,20140815T000000,4,2.50,3770,10893,2.0,0,2,3,...,0,1997,0,98006,47.5646,-122.129,3710,9685,/content/drive/MyDrive/CDC_Project/images_test...,8.709077e+05
3,9522300010,20150331T000000,3,3.50,4560,14608,2.0,0,2,3,...,0,1990,0,98034,47.6995,-122.228,4050,14226,/content/drive/MyDrive/CDC_Project/images_test...,1.001087e+06
4,9510861140,20140714T000000,3,2.50,2550,5376,2.0,0,0,3,...,0,2004,0,98052,47.6647,-122.083,2250,4050,/content/drive/MyDrive/CDC_Project/images_test...,6.223826e+05

In [33]:
test_df.columns

Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'image_path', 'predicted_price'],
      dtype='object')